h2 Get Missing Letters
.q2
    input(ng-model='sentence', type='text', class='form-control', placeholder='Type a sentence', ng-change='get_missing_letters(sentence)')
    hr
    h3(ng-if='!missing && sentence') This sentence is completed
    h3(ng-if='missing').text-danger What is missing in this sentence:
    h3.text-danger {{missing || ''}}
