h2 Get Missing Letters
.q2
    form(ng-submit='get_missing_letters(sentence)')
        .input-group
            input(ng-model='sentence', type='text', class='form-control', placeholder='Type a sentence')
            span.input-group-btn
                button.btn.btn-primary Check
    h4 What is missing in this sentence: {{missing || ''}}
