h2 User Name Statistic
.q1(style='text-align:center')
    form(ng-submit='search(user_search_key)')
        .input-group
            input(ng-model='user_search_key', type='text', class='form-control', placeholder='User Search Keyword, default is barack, then press Enter')
            span.input-group-btn
                button.btn.btn-success Search
    .spinner
        .rect1
        .rect2
        .rect3
        .rect4
        .rect5
