h2 Particles
.q3
    .row
        form(ng-submit='go(step, initial)')
            .col-sm-3
                p.text-info The speed, default is 1
                input(ng-model='step', type='text', class='form-control', placeholder='Type in the speed')
            .col-sm-8
                p.text-info The initial state, default is R....
                input(ng-model='initial', type='text', class='form-control', placeholder='Type in the initial state')
            .col-sm-1
                p &nbsp;
                button.btn.btn-primary Go

        ul.list-unstyled
            li(ng-repeat="err in errs") {{err}}

        div(style='text-align:center')
            ul.list-unstyled
                li(ng-repeat="row in result") {{row}}
