h2 User Search
.q1
    form(ng-submit='search(user_search_key)')
        .input-group
            input(ng-model='user_search_key', type='text', class='form-control', placeholder='User Search Keyword')
            span.input-group-btn
                button.btn.btn-primary Search



